<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/other.css">
	<script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=YLBBZ-4RYKO-5JGWR-SEJDQ-M5DPF-KRFUP"></script>
</head>
<body>
	<div class="header">
		<div class="fixation">
			<div class="logo">
				<a href=""><img src="img/web/logo.png" alt=""></a>
			</div>
			<div class="name">
				河北淞甸科技有限公司
			</div>
			<div class="city">
				<div class="now-city">
					<div class="city-name" id="chooseBtn" status="show">
						石家庄	
					</div>
					<div class="arrow">
						<img src="img/web/arrow.png" alt="">
					</div>
				</div>
				<div class="city-choose" id="city-choose">
					<li class="city-list">石家庄</li>
					<li class="city-list">保定</li>
				</div>
			</div>
			<div class="nav" id="nav" status="show">
				<div class="nav-button">
					<img src="img/web/menu.png" alt="">
				</div>
			</div>
			<div class="nav-box" id="nav-box">
				<li><a href="yqp_index.html">首页</a></li>
				<li><a href="about.html">公司简介</a></li>
				<li><a href="dynamic.html">行业动态</a></li>
				<li><a href="index.html">车型展示</a></li>
				<li><a href="advantage.html">公司优势</a></li>
				<li><a href="contact.html">加入我们</a></li>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="banner">
			<img src="img/web/pc-about-banner.png" class="pc-banner">
			<img src="img/web/about-banner-mb.png" class="mb-banner">
		</div>
		<div class="floor">
			<div class="floor-title">
				公司简介<br>
				<span>COMPANY PROFILE</span>
			</div>
			<div class="brief">
				巨鲨汽车为河北淞甸科技有限公司旗下汽车品牌，公司创立于2018年10月， 专注于网约车运营，是河北省首个与滴滴平台签约“车司合一”的公司。目前河北保定，重庆，成都均设立分公司。成立以来，始终坚持服务至上的理念，将司机创收放在首位，致力于让每个司机体面高收入的工作。公司拥有成熟高效完备的专业团队，秉承诚信、专业、服务、创新的经营理念，依托多年行业经验，以司机利益为中心、规模为基础、安全为保障，为司机提供全方位、专业化服务，实现公司与司机的共同发展。未来，公司规划运营近千辆合规网约车，并建设数个集司机餐厅、交流室、休息室、洗车、充电等为一体的汽车码头服务站，为司机提供一站式服务，打造全国性的网约车运营服务中心。
			</div>
			<div class="slider">
				<div class="back-img">
					<img src="img/web/pc-about-3.png" class="pc-web">
					<img src="img/web/about-3.png" class="mb-web">
				</div>
				<div class="slide-box">
					<div class="slide-wrapper" id="slide-wrapper">
						<div class="slide-item" id="left">
							<img src="img/web/about-2.png">
						</div>
						<div class="slide-item" id="midd">
							<img src="img/web/about-2.png">
						</div>
						<div class="slide-item" id="right">
							<img src="img/web/about-2.png">
						</div>
					</div>
					<div class="prev">
						<
					</div>
					<div class="next">
						>
					</div>
				</div>	
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="mobile">
			<div class="qr-code">
				<div class="code-img">
					<img src="img/web/qrcode.png" alt="">
				</div>
				<div class="word">
					扫二维码关注公众号
				</div>
			</div>
			<div class="copyright">
				© 2005-2011,WWW.XXXXXX.COM巨鲨汽车网站<br>
				版权所有 沪ICP备XXXXXX号
			</div>
		</div>
		<div class="pc-web">
			<div class="fixation">
				<div class="top">
					<div class="left">
						<img src="img/web/footer.png">
					</div>
					<div class="mid">
						<div class="link-list">
							<div class="title">公司简介</div>
							<div class="list-box">
								<li><a href="">车型展示</a></li>
								<li><a href="">车辆细节</a></li>
								<li><a href="">车辆参数</a></li>
								<li><a href="">运营分析</a></li>
							</div>
						</div>
						<div class="link-list">
							<div class="title">行业动态</div>
							<div class="list-box">
								<li><a href="">政策</a></li>
								<li><a href="">证照相关</a></li>
								<li><a href="">合规公司优势</a></li>
							</div>
						</div>
						<div class="link-list">
							<div class="title">公司优势</div>
							<div class="list-box">
								<li><a href="">岗前培训</a></li>
								<li><a href="">运营分析</a></li>
								<li><a href="">专人对接</a></li>
								<li><a href="">车辆保证</a></li>
							</div>
						</div>
						<div class="link-list">
							<div class="title">加入我们</div>
							<div class="list-box">
								<li><a href="">报名入口</a></li>
								<li><a href="">公司地址</a></li>
								<li><a href="">联系方式</a></li>
							</div>
						</div>
					</div>
					<div class="right">
						<div class="qr-code">
							<img src="img/web/qrcode.png">
						</div>
						<div class="word">
							扫描二维码关注公众号
						</div>
					</div>
				</div>
				<div class="copyright">
					 © 2005-2011,WWW.XXXXXX.COM巨鲨汽车网站 版权所有 沪ICP备XXXXXX号
				</div>
			</div>
		</div>
	</div>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>