<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/other.css">
	<script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=YLBBZ-4RYKO-5JGWR-SEJDQ-M5DPF-KRFUP"></script>
</head>
<body>
	<div class="header">
		<div class="fixation">
			<div class="logo">
				<a href=""><img src="img/web/logo.png" alt=""></a>
			</div>
			<div class="name">
				河北淞甸科技有限公司
			</div>
			<div class="city">
				<div class="now-city">
					<div class="city-name" id="chooseBtn" status="show">
						石家庄	
					</div>
					<div class="arrow">
						<img src="img/web/arrow.png" alt="">
					</div>
				</div>
				<div class="city-choose" id="city-choose">
					<li class="city-list">石家庄</li>
					<li class="city-list">保定</li>
				</div>
			</div>
			<div class="nav" id="nav" status="show">
				<div class="nav-button">
					<img src="img/web/menu.png" alt="">
				</div>
			</div>
			<div class="nav-box" id="nav-box">
				<li><a href="yqp_index.html">首页</a></li>
				<li><a href="about.html">公司简介</a></li>
				<li><a href="dynamic.html">行业动态</a></li>
				<li><a href="index.html">车型展示</a></li>
				<li><a href="advantage.html">公司优势</a></li>
				<li><a href="contact.html">加入我们</a></li>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="banner">
			<img src="img/web/contact-banner.png" class="pc-banner">
			<img src="img/web/contact-banner-mb.png" class="mb-banner">
		</div>
		<div class="form-area">
			<form>
				<div class="form-line">
					<div class="line-box">
						<div class="icon"><img src="img/web/user.png"></div>
						<div class="input-box"><input placeholder="姓名" type="text"></div>
					</div>
				</div>
				<div class="form-line">
					<div class="line-box">
						<div class="icon"><img src="img/web/telphone.png"></div>
						<div class="input-box"><input placeholder="联系方式" type="password"></div>
					</div>
				</div>
				<div class="form-line">
					<div class="line-box">
						<div class="icon"><img src="img/web/time.png"></div>
						<div class="input-box"><input placeholder="驾龄" type="number"></div>
					</div>
				</div>
				<div class="form-line">
					<input type="submit" value="提交" name="" class="sub-btn">
				</div>
			</form>
		</div>
		<div class="contact-information">
			<div class="phone-number">
				<div class="icon">
					<img src="img/web/phone.png">
				</div>
				<div class="number">
					联系电话：400-800-7555
				</div>
			</div>
			<div class="position">
				<div class="icon">
					<img src="img/web/position.png">
				</div>
				<div class="address">
					石家庄市长安区建华北大街138号百川大厦东塔22层<br>
					保定市朝阳北大街1898号电谷源盛商务大厦B座24层
				</div>
			</div>
		</div>
		<div class="map">
			<div class="fixation">
				<div class="map-area" id="map-area">
					
				</div>
				<div class="address">
					石家庄市长安区建华北大街138号百川大厦东塔22层
				</div>
			</div>
		</div>
		<div class="qr-code">
			<div class="fixation">
				<div class="code-item">
					<div class="code-img"><img src="img/web/qrcode.png" alt=""></div>
					<div class="code-word">扫一扫进入手机端车辆店铺</div>
				</div>
				<div class="code-item">
					<div class="code-img"><img src="img/web/qrcode.png" alt=""></div>
					<div class="code-word">扫一扫进入手机端公众号</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="mobile">
			<div class="qr-code">
				<div class="code-img">
					<img src="img/web/qrcode.png" alt="">
				</div>
				<div class="word">
					扫二维码关注公众号
				</div>
			</div>
			<div class="copyright">
				© 2005-2011,WWW.XXXXXX.COM巨鲨汽车网站<br>
				版权所有 沪ICP备XXXXXX号
			</div>
		</div>
		<div class="pc-web">
			<div class="fixation">
				<div class="top">
					<div class="left">
						<img src="img/web/footer.png">
					</div>
					<div class="mid">
						<div class="link-list">
							<div class="title">公司简介</div>
							<div class="list-box">
								<li><a href="">车型展示</a></li>
								<li><a href="">车辆细节</a></li>
								<li><a href="">车辆参数</a></li>
								<li><a href="">运营分析</a></li>
							</div>
						</div>
						<div class="link-list">
							<div class="title">行业动态</div>
							<div class="list-box">
								<li><a href="">政策</a></li>
								<li><a href="">证照相关</a></li>
								<li><a href="">合规公司优势</a></li>
							</div>
						</div>
						<div class="link-list">
							<div class="title">公司优势</div>
							<div class="list-box">
								<li><a href="">岗前培训</a></li>
								<li><a href="">运营分析</a></li>
								<li><a href="">专人对接</a></li>
								<li><a href="">车辆保证</a></li>
							</div>
						</div>
						<div class="link-list">
							<div class="title">加入我们</div>
							<div class="list-box">
								<li><a href="">报名入口</a></li>
								<li><a href="">公司地址</a></li>
								<li><a href="">联系方式</a></li>
							</div>
						</div>
					</div>
					<div class="right">
						<div class="qr-code">
							<img src="img/web/qrcode.png">
						</div>
						<div class="word">
							扫描二维码关注公众号
						</div>
					</div>
				</div>
				<div class="copyright">
					 © 2005-2011,WWW.XXXXXX.COM巨鲨汽车网站 版权所有 沪ICP备XXXXXX号
				</div>
			</div>
		</div>
	</div>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/main.js"></script>
	<script type="text/javascript" src="js/mb-slide.js"></script>
</body>
</html>