<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/other.css">
</head>
<body>
	<div class="header">
		<div class="fixation">
			<div class="logo">
				<a href=""><img src="img/web/logo.png" alt=""></a>
			</div>
			<div class="name">
				河北淞甸科技有限公司
			</div>
			<div class="city">
				<div class="now-city">
					<div class="city-name" id="chooseBtn" status="show">
						石家庄	
					</div>
					<div class="arrow">
						<img src="img/web/arrow.png" alt="">
					</div>
				</div>
				<div class="city-choose" id="city-choose">
					<li class="city-list">石家庄</li>
					<li class="city-list">保定</li>
				</div>
			</div>
			<div class="nav" id="nav" status="show">
				<div class="nav-button">
					<img src="img/web/menu.png" alt="">
				</div>
			</div>
			<div class="nav-box" id="nav-box">
				<li><a href="yqp_index.html">首页</a></li>
				<li><a href="about.html">公司简介</a></li>
				<li><a href="dynamic.html">行业动态</a></li>
				<li><a href="index.html">车型展示</a></li>
				<li><a href="advantage.html">公司优势</a></li>
				<li><a href="contact.html">加入我们</a></li>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="banner">
			<img src="img/web/pc-dynamic-banner.png" class="pc-banner">
			<img src="img/web/dynamic-banner.png" class="mb-banner">
		</div>
		<div class="floor">
			<div class="tab-nav">
				<div class="fixation">
					<div class="tab-nav-item" id="selected">政策</div>
					<div class="tab-nav-item">证照相关</div>
					<div class="tab-nav-item">合规公司优势</div>
				</div>
			</div>
			<div class="window">
				<div class="window-item" id="item-selected">
					<div class="floor-title">
						政府方面<br>
						<span>Government aspects</span>
					</div>
					<div class="floor-1">
						<div class="cut-line">
							<div class="line"></div>
							<div class="line-title">
								人员要求
							</div>
						</div>
						<div class="middle-title">
							<div class="top">certificate</div>
						</div>
						<div class="img-word">
							<div class="back-img">
								<img src="img/web/floor-1.png" class="pc-web">
								<img src="img/web/floor-1-mb.png" class="mb-web">
							</div>
							<div class="word-list">
								<div class="word-line">
									<div class="left-arrow">
										<img src="img/web/right-arrow.png">
									</div>
									<div class="right-word">
										取得相应准驾车型机动车驾驶证并具有3年以上驾驶经历
									</div>
								</div>
								<div class="word-line">
									<div class="left-arrow">
										<img src="img/web/right-arrow.png">
									</div>
									<div class="right-word">
										无交通肇事犯罪、危险驾驶犯罪记录，无吸毒记录，无饮酒后驾驶记录，最近连续3个记分周期内没有记满12分记录
									</div>
								</div>
								<div class="word-line">
									<div class="left-arrow">
										<img src="img/web/right-arrow.png">
									</div>
									<div class="right-word">
										无暴力犯罪记录
									</div>
								</div>
								<div class="word-line">
									<div class="left-arrow">
										<img src="img/web/right-arrow.png">
									</div>
									<div class="right-word">
										有服务所在地户籍或取得服务所在地居住证
									</div>
								</div>
								<div class="word-line">
									<div class="left-arrow">
										<img src="img/web/right-arrow.png">
									</div>
									<div class="right-word">
										年龄男60岁、女55岁以下，取得健康证明
									</div>
								</div>
								<div class="word-line">
									<div class="left-arrow">
										<img src="img/web/right-arrow.png">
									</div>
									<div class="right-word">
										申请人取得《网络预约出租汽车驾驶员证》
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="floor-2">
						<div class="cut-line">
							<div class="line"></div>
							<div class="line-title">
								车辆要求
							</div>
						</div>
						<div class="middle-title">
							<div class="top">certificate</div>
						</div>
						<div class="img-word">
							<div class="left-img">
								<img src="img/web/floor-2.png">
							</div>
							<div class="right-word">
								<div class="word-line">
									<div class="left-arrow">
										<img src="img/web/left-arrow.png">
									</div>
									<div class="word-box">
										本市号牌且登记注册的5座（含5座）以上，7座（含7座）以下乘用车
									</div>
								</div>
								<div class="word-line">
									<div class="left-arrow">
										<img src="img/web/left-arrow.png">
									</div>
									<div class="word-box">
										安装符合国家相关规定和标准的具有行驶记录、卫星定位、应急报警等功能的车载设备，并接入市出租汽车管理机构监管平台
									</div>
								</div>
								<div class="word-line">
									<div class="left-arrow">
										<img src="img/web/left-arrow.png">
									</div>
									<div class="word-box">
										车辆自公安交通管理部门首次注册登记到申请之日不超过3年，车辆的技术要求应当符合《道路运输车辆技术管理规定》有关规定，投保赔付额度不低于50万的第三者责任险及营运车辆相关商业保险
									</div>
								</div>
								<div class="word-line">
									<div class="left-arrow">
										<img src="img/web/left-arrow.png">
									</div>
									<div class="word-box">
										车辆计税价格应当高于我市同期上牌的巡游出租汽车
									</div>
								</div>
								<div class="word-line">
									<div class="left-arrow">
										<img src="img/web/left-arrow.png">
									</div>
									<div class="word-box">
										车辆属个人所有的，车辆所有人名下应当没有登记的其他巡游车和网约车，车辆所有人应当取得《网络预约出租汽车驾驶员证》，并承诺由本人驾驶该申请车辆提供网约车服务,不得倒卖、转租、转借他人
									</div>
								</div>
								<div class="word-line">
									<div class="left-arrow">
										<img src="img/web/left-arrow.png">
									</div>
									<div class="word-box">
										燃油车辆轴距不低于2675毫米，排量不低于1.8L或1.4T；新能源车辆轴距不低于2600毫米
									</div>
								</div>
								<div class="word-line">
									<div class="left-arrow">
										<img src="img/web/left-arrow.png">
									</div>
									<div class="word-box">
										车辆应有《网络预约出租汽车运输证》
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="floor-3">
						<div class="fixation">
							<div class="x-small-title">
								新政发布官网
							</div>
							<div class="middle-title">
								<div class="top">点击查看官网</div>
							</div>
							<div class="cut-line">
								<div class="line"></div>
								<div class="line-title">
									<a href="">http://www.sjz.gov.cn/col/1490952431216/2017/07/21/1500623305906.html</a>
								</div>
							</div>
							<div class="img-word">
								<div class="left-word">
									<div class="small-title">
										平台方面<br>
										<span>Platform aspects</span>
									</div>
									<div class="word-line">
										<div class="left-arrow"><img src="img/web/left-arrow.png" alt=""></div>
										<div class="word-box">
											合规司机收入更稳定
										</div>
									</div>
									<div class="word-line">
										<div class="left-arrow"><img src="img/web/left-arrow.png" alt=""></div>
										<div class="word-box">
											合规司机平台专属接单奖励
										</div>
									</div>
									<div class="word-line">
										<div class="left-arrow"><img src="img/web/left-arrow.png" alt=""></div>
										<div class="word-box">
											城市英雄等称号评比，将收获荣誉、奖品
										</div>
									</div>
									<div class="word-line">
										<div class="left-arrow"><img src="img/web/left-arrow.png" alt=""></div>
										<div class="word-box">
											不定期司机培训
										</div>
									</div>
									<div class="word-line">
										<div class="left-arrow"><img src="img/web/left-arrow.png" alt=""></div>
										<div class="word-box">
											统一组织网约车从业资格证安全培训
										</div>
									</div>
								</div>
								<div class="right-img">
									<img src="img/web/floor-3.png">
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="window-item">
					<div class="block-1">
						<div class="fixation">
							<div class="left-img">
								<img src="img/web/card-1.png" alt="">
							</div>
							<div class="right-word">
								<div class="small-title">
									加入公司，证照办理优势<br>
									<span>Processing advantages</span>
								</div>
								<div class="word-line">
									<div class="left-arrow">
										<img src="img/web/left-arrow.png">
									</div>
									<div class="word-box">
										公司统一办理车辆营运证即《网络预约出租汽车运输证》，司机无后顾之忧
									</div>
								</div>
								<div class="word-line">
									<div class="left-arrow">
										<img src="img/web/left-arrow.png">
									</div>
									<div class="word-box">
										网约车从业资格证指定报名点，统一报名，免费培训
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="block-2">
						<div class="cut-line">
							<div class="line"></div>
							<div class="line-title">
								《网络预约出租汽车驾驶员证》准备资料
							</div>
						</div>
						<div class="fixation">
							<div class="middle-title">
								<div class="top">certificate</div>
								<div class="eng-title">Information preparation</div>
							</div>
							<div class="img-word">
								<div class="left-img">
									<img src="img/web/card-2.png">
								</div>
								<div class="right-word">
									<div class="word-line">
										<div class="left-arrow">
											<img src="img/web/left-arrow.png">
										</div>
										<div class="word-box">
											本市户籍人员携带本人身份证、驾驶证、健康证原件以及彩色复印件（三个证件复印到一张A4纸）
										</div>
									</div>
									<div class="word-line">
										<div class="left-arrow">
											<img src="img/web/left-arrow.png">
										</div>
										<div class="word-box">
											本市户籍人员携带本人身份证、驾驶证、健康证原件以及彩色复印件（三个证件复印到一张A4纸）
										</div>
									</div>
									<div class="word-line">
										<div class="left-arrow">
											<img src="img/web/left-arrow.png">
										</div>
										<div class="word-box">
											本人近期白底正装证件照片一寸3张、小二寸2张
										</div>
									</div>
									<div class="word-line">
										<div class="left-arrow">
											<img src="img/web/left-arrow.png">
										</div>
										<div class="word-box">
											驾驶证所在地交管部门开具的全国范围内的三年无重大交通事故证明（必须近期开具，之前开的无效，开具时需携带身份证，驾驶证）
										</div>
									</div>
								</div>
							</div>
							<div class="img-word">
								<div class="left-word">
									<div class="small-title">
										报名地点<br>
										<span>Registration Information</span>
									</div>
									<div class="word-line">
										<div class="left-arrow">
											<img src="img/web/left-arrow.png">
										</div>
										<div class="word-box">
											河北省石家庄市长安区建华北大街与光华路交口百川大厦A座22层（长安区法院楼上）
										</div>
									</div>
									<div class="word-line">
										<div class="left-arrow">
											<img src="img/web/left-arrow.png">
										</div>
										<div class="word-box">
											报名时间：每周一至周六 上午9：10至-11：30         下午1：30至5：30
										</div>
									</div>
								</div>
								<div class="right-img">
									<img src="img/web/card-3.png">
								</div>
							</div>
						</div>
					</div>
					<div class="block-3">
						<div class="cut-line">
							<div class="line"></div>
							<div class="line-title">
								车辆《网络预约出租汽车运输证》办证流程
							</div>
						</div>
						<div class="fixation">
							<div class="middle-title">
								<div class="top">process</div>
								<div class="eng-title">申请人或申请人委托的网约车平台公司，向注册所在地出租汽车管理机构提出申请，并提交下列申请材料：</div>
							</div>
							<div class="img-word">
								<div class="left-img">
									<img src="img/web/card-4.png">
								</div>
								<div class="right-word">
									<div class="word-line">
										<div class="left-arrow">
											<img src="img/web/left-arrow.png">
										</div>
										<div class="word-box">
											 《网络预约出租汽车运输证》申请表
										</div>
									</div>
									<div class="word-line">
										<div class="left-arrow">
											<img src="img/web/left-arrow.png">
										</div>
										<div class="word-box">
											 申请人所申请车辆的《机动车登记证书》、《机动车行驶证》和车辆技术等级评定结论，申请人的身份证、《网络预约出租汽车驾驶员证》及复印件（平台公司代为办理的，需持申请人委托书）
										</div>
									</div>
									<div class="word-line">
										<div class="left-arrow">
											<img src="img/web/left-arrow.png">
										</div>
										<div class="word-box">
											车辆使用性质登记变更为《预约出租客运》申请表
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="window-item">
					<div class="fixation">
						<div class="window-title">
							合规公司优势<br>
							<span>COMPLAINCE COMPANY ADVANTAGE</span>
						</div>
						<div class="short-line"></div>
						<div class="icon">
							<div class="icon-item">
								<div class="icon-img"><img src="img/web/icon.png" alt=""></div>
								<div class="icon-word">合规司机收入更高更稳定</div>
							</div>
							<div class="icon-item">
								<div class="icon-img"><img src="img/web/icon2.png" alt=""></div>
								<div class="icon-word">平台专属奖励</div>
							</div>
							<div class="icon-item">
								<div class="icon-img"><img src="img/web/icon3.png" alt=""></div>
								<div class="icon-word">接单区域自由</div>
							</div>
							<div class="icon-item">
								<div class="icon-img"><img src="img/web/icon4.png" alt=""></div>
								<div class="icon-word">证照升值</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="mobile">
			<div class="qr-code">
				<div class="code-img">
					<img src="img/web/qrcode.png" alt="">
				</div>
				<div class="word">
					扫二维码关注公众号
				</div>
			</div>
			<div class="copyright">
				© 2005-2011,WWW.XXXXXX.COM巨鲨汽车网站<br>
				版权所有 沪ICP备XXXXXX号
			</div>
		</div>
		<div class="pc-web">
			<div class="fixation">
				<div class="top">
					<div class="left">
						<img src="img/web/footer.png">
					</div>
					<div class="mid">
						<div class="link-list">
							<div class="title">公司简介</div>
							<div class="list-box">
								<li><a href="">车型展示</a></li>
								<li><a href="">车辆细节</a></li>
								<li><a href="">车辆参数</a></li>
								<li><a href="">运营分析</a></li>
							</div>
						</div>
						<div class="link-list">
							<div class="title">行业动态</div>
							<div class="list-box">
								<li><a href="">政策</a></li>
								<li><a href="">证照相关</a></li>
								<li><a href="">合规公司优势</a></li>
							</div>
						</div>
						<div class="link-list">
							<div class="title">公司优势</div>
							<div class="list-box">
								<li><a href="">岗前培训</a></li>
								<li><a href="">运营分析</a></li>
								<li><a href="">专人对接</a></li>
								<li><a href="">车辆保证</a></li>
							</div>
						</div>
						<div class="link-list">
							<div class="title">加入我们</div>
							<div class="list-box">
								<li><a href="">报名入口</a></li>
								<li><a href="">公司地址</a></li>
								<li><a href="">联系方式</a></li>
							</div>
						</div>
					</div>
					<div class="right">
						<div class="qr-code">
							<img src="img/web/qrcode.png">
						</div>
						<div class="word">
							扫描二维码关注公众号
						</div>
					</div>
				</div>
				<div class="copyright">
					 © 2005-2011,WWW.XXXXXX.COM巨鲨汽车网站 版权所有 沪ICP备XXXXXX号
				</div>
			</div>
		</div>
	</div>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>