<div class="header">
    <div class="fixation">
        <div class="logo">
            <a href=""><img src="{$sys.logo}" alt=""></a>
        </div>
        <div class="name">
            {$sys.company}
        </div>
        <div class="city">
            <div class="now-city">
                <div class="city-name" id="chooseBtn" status="show">
                    石家庄
                </div>
                <div class="arrow">
                    <img src="/template/img/web/arrow.png" alt="">
                </div>
            </div>
            <div class="city-choose" id="city-choose">
                <li class="city-list">石家庄</li>
                <li class="city-list">保定</li>
            </div>
        </div>
        <div class="nav" id="nav" status="show">
            <div class="nav-button">
                <img src="/template/img/web/menu.png" alt="">
            </div>
        </div>
        <div class="nav-box" id="nav-box">
            {include file="common/nav"/}
        </div>
    </div>
</div>