<div class="footer">
    <div class="mobile">
        <div class="qr-code">
            <div class="code-img">
                <img src="{$sys.qrcode}" alt="">
            </div>
            <div class="word">
                扫二维码关注公众号
            </div>
        </div>
        <div class="copyright">
          
           {$sys.copyright}<br>
            版权所有    {$sys.bah}
        </div>
    </div>
    <div class="pc-web">
        <div class="fixation">
            <div class="top">
                <div class="left">
                    <img src="{$sys.logoa}">
                </div>
                <div class="mid">
                    <div class="link-list">
                        <div class="title">公司简介</div>
                        <div class="list-box">
                            <li><a href="">车型展示</a></li>
                            <li><a href="">车辆细节</a></li>
                            <li><a href="">车辆参数</a></li>
                            <li><a href="">运营分析</a></li>
                        </div>
                    </div>
                    <div class="link-list">
                        <div class="title">行业动态</div>
                        <div class="list-box">
                            <li><a href="">政策</a></li>
                            <li><a href="">证照相关</a></li>
                            <li><a href="">合规公司优势</a></li>
                        </div>
                    </div>
                    <div class="link-list">
                        <div class="title">公司优势</div>
                        <div class="list-box">
                            <li><a href="">岗前培训</a></li>
                            <li><a href="">运营分析</a></li>
                            <li><a href="">专人对接</a></li>
                            <li><a href="">车辆保证</a></li>
                        </div>
                    </div>
                    <div class="link-list">
                        <div class="title">加入我们</div>
                        <div class="list-box">
                            <li><a href="">报名入口</a></li>
                            <li><a href="">公司地址</a></li>
                            <li><a href="">联系方式</a></li>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="qr-code">
                        <img src="/template/img/web/qrcode.png">
                    </div>
                    <div class="word">
                        扫描二维码关注公众号
                    </div>
                </div>
            </div>
            <div class="copyright">
                {$sys.copyright} {$sys.bah}
            </div>
        </div>
    </div>
</div>
<script src="/template/js/jquery-3.3.1.min.js"></script>
<script src="/template/js/main.js"></script>
</body>
</html>
