<div class="header">
    <div class="fixation">
        <div class="logo">
            <a href="/"><img src="{$sys.logo}" alt=""></a>
        </div>
        <div class="name">
            {$sys.company}
        </div>
        <div class="city">
            <div class="now-city">
                <div class="city-name" id="chooseBtn" status="show">
                    <?php
                    session('address_id')?:session('address_id',$address[0]['id']);

                    echo session('address_name')?session('address_name'):$address[0]['title'];
                    ?>

                </div>
                <div class="arrow">
                    <img src="/template/img/web/arrow.png" alt="">
                </div>
            </div>
            <div class="city-choose" id="city-choose">
                {volist name="address" id="v"}
                <li class="city-list" id="{$v.id}" onclick="setConfig(this)">{$v.title}</li>
                {/volist}
            </div>
            <script>
                function setConfig(obj){
                    $.get("{:url('home/index/setConfig')}",{address_id:$(obj).attr('id')},function(data){
                        console.log(data);

                    })
                }

            </script>

        </div>
        <div class="nav" id="nav" status="show">
            <div class="nav-button">
                <img src="/template/img/web/menu.png" alt="">
            </div>
        </div>
        <div class="nav-box" id="nav-box">
            {include file="common/nav"/}
        </div>
    </div>
</div>