<div class="footer">
    <div class="mobile">
        <div class="qr-code">
            <div class="code-img">
                <img src="{$sys.qrcode}" alt="">
            </div>
            <div class="word">
                扫二维码关注公众号
            </div>
        </div>
        <div class="copyright">

           {$sys.copyright}<br>
            版权所有    {$sys.bah}
        </div>
    </div>
    <style>
        .link-list a{
            color: #000;
        }
    </style>
    <div class="pc-web">
        <div class="fixation">
            <div class="top">
                <div class="left">
                    <img src="{$sys.logoa}" onclick="bottom_logo()" style="cursor:pointer">
                </div>
              <script>
            		function bottom_logo(){
                        window.location.href="/";
                    }
                
              </script>
                <div class="mid">
                  <div class="link-list">
                    <div class="title"><a href="/about-2.html">公司简介</a></div>
                    <div class="list-box">

                    </div>
                  </div>
                  <div class="link-list">
                    <div class="title"><a href="/home/trade/index/catId/46.html#a">行业动态</a></div>
                    <div class="list-box">
                      <li><a href="/home/trade/index/catId/46.html#a">政策</a></li>
                      <li><a href="/home/trade/index/catId/46.html#b">证照相关</a></li>
                      <li><a href="/home/trade/index/catId/46.html#c">合规公司优势</a></li>
                    </div>
                  </div>
                  <div class="link-list">
                    <div class="title"><a href="/home/car/index/catId/55.html">车型展示</a></div>
                    <div class="list-box">
                      <li><a href="/home/car/index/catId/55.html">车型展示</a></li>
                      <li><a href="/home/car/index/catId/55.html">车辆细节</a></li>
                      <li><a href="/home/car/index/catId/55.html">车辆参数</a></li>
                    </div>
                  </div>
                  <div class="link-list">
                    <div class="title"><a href="/home/goodness/index/catId/50.html">公司优势</a></div>
                    <div class="list-box">
                      <li><a href="/home/goodness/index/catId/50.html">岗前培训</a></li>
                      <li><a href="/home/goodness/index/catId/50.html">运营分析</a></li>
                      <li><a href="/home/goodness/index/catId/50.html">专人对接</a></li>
                      <li><a href="/home/goodness/index/catId/50.html">车辆保证</a></li>
                    </div>
                  </div>
                  <div class="link-list">
                    <div class="title"><a href="/home/join/index/catId/53.html">加入我们</a></div>
                    <div class="list-box">
                      <li><a href="/home/join/index/catId/53.html">报名入口</a></li>
                      <li><a href="/home/join/index/catId/53.html">公司地址</a></li>
                      <li><a href="/home/join/index/catId/53.html">联系方式</a></li>
                    </div>
                  </div>
                </div>
                <div class="right">
                    <div class="qr-code">
                        <img src="/template/img/web/qrcode.png">
                    </div>
                    <div class="word">
                        扫描二维码关注公众号
                    </div>
                </div>
            </div>
            <div class="copyright">
                {$sys.copyright} {$sys.bah}
            </div>
        </div>
    </div>
</div>
<script src="/template/js/jquery-3.3.1.min.js"></script>
<script src="/template/js/main.js"></script>
</body>
</html>
